# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
#Check if the data is clean
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate the total number of schools
name_schools = school_data_complete["school_name"].unique()
name_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [5]:
num_schools = school_data_complete["school_name"].value_counts()
num_schools

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [6]:
# Calculate the total number of student
num_students = school_data_complete['student_name'].count()
num_students

39170

In [7]:
# Calculate the total budget
total_budget = school_data_complete['budget'].unique()
total_budget.sum()

24649428

In [8]:
# Calculate the average math score 
avg_math = school_data_complete['math_score'].mean()
avg_math

78.98537145774827

In [9]:
# Calculate the average reading score
avg_reading = school_data_complete['reading_score'].mean()
avg_reading

81.87784018381414

In [10]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_passing_score = (avg_math + avg_reading)/2
avg_passing_score

80.43160582078121

In [11]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
passing_math['math_score'].count()

29370

In [12]:
math_passing_percent = round(passing_math['math_score'].count() / num_students *100,2)
math_passing_percent

74.98

In [13]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
passing_reading['reading_score'].count()

33610

In [14]:
reading_passing_percent = round(passing_reading['reading_score'].count()/num_students*100, 2)
reading_passing_percent

85.81

In [15]:
district_summary_df = pd.DataFrame({"Total Number of Schools": [num_schools.count()], "Total Number of Students": [num_students], "Total Budget": [total_budget.sum()], 
                       "Avg Math Shore": [avg_math], "Avg Reading Score": [avg_reading], "Overall Passing Rate": [avg_passing_score],
                       "% Passing Math": [math_passing_percent], "% Passing Reading":[reading_passing_percent]})
district_summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Avg Math Shore,Avg Reading Score,Overall Passing Rate,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [16]:
school_summary_df = school_data_complete.groupby(['school_name'])
school_summary_df.count().head(15)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [17]:
school_numstudents = pd.DataFrame(school_summary_df['student_name'].count())
school_students = school_numstudents['student_name']
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [18]:
# Type of School (District vs. Charter)
school_type = school_summary_df['type'].unique().str[0]
school_type

# Can't seem to get the school_type answer out of the brackets...Got stuck here for a long while!
#Tried many different things:
#school_type_hash = hash(school_type)
#school_type_hash
#school_type.astype(float)
#school_type.to_numeric(s, errors='coerce')
#school_types = school_type['type']
#school_types.head()

# finally got out the brackets using df['value'] = df['value'].str[0] from 
# https://stackoverflow.com/questions/38147447/how-to-remove-square-bracket-from-pandas-dataframe

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [19]:
school_type_df = pd.DataFrame(school_type)
school_type_df

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [20]:
# School Budget
school_budget = school_summary_df['budget'].mean()
school_budget.head(15)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [21]:
# Per Student Budget
school_budget_pp = round(school_budget/ school_students,2)
school_budget_pp

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
# Average Math Score per school
school_avg_math = school_summary_df['math_score'].mean()
school_avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Average Reading Score per school
school_avg_reading = school_summary_df['reading_score'].mean()
school_avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
school_overall_pass = (school_avg_math + school_avg_reading)/2
school_overall_pass

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [25]:
#passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#passing_math['math_score'].count()
school_passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby(['school_name'])

In [26]:
# Number of students per school who passed Math
school_passing_math_num = pd.DataFrame(school_passing_math['School ID'].count())
school_passing_math_num

                       School ID
school_name
Bailey High School          3318
Cabrera High School         1749
Figueroa High School        1946
Ford High School            1871
Griffin High School         1371
Hernandez High School       3094
Holden High School           395
Huang High School           1916
Johnson High School         3145
Pena High School             910
Rodriguez High School       2654
Shelton High School         1653
Thomas High School          1525
Wilson High School          2143
Wright High School          1680

In [27]:
# Calculate Percentage of students per school who passed Math
passing_math_pc = round((school_passing_math_num['School ID'] / school_numstudents['student_name'])*100,2)
school_numstudents['Passing Math Percentage'] = passing_math_pc
school_numstudents

                       student_name  Passing Math Percentage
school_name
Bailey High School             4976                    66.68
Cabrera High School            1858                    94.13
Figueroa High School           2949                    65.99
Ford High School               2739                    68.31
Griffin High School            1468                    93.39
Hernandez High School          4635                    66.75
Holden High School              427                    92.51
Huang High School              2917                    65.68
Johnson High School            4761                    66.06
Pena High School                962                    94.59
Rodriguez High School          3999                    66.37
Shelton High School            1761                    93.87
Thomas High School             1635                    93.27
Wilson High School             2283                    93.87
Wright High School             1800                    93.33

In [28]:
# Calculate Number of students per school who passed Reading
school_passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
school_passing_reading['reading_score'].count()

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [29]:
# Create dataframe for Number of students per school who passed Readding
school_passing_reading_num = pd.DataFrame(school_passing_reading['reading_score'].count())
school_passing_reading_num

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [30]:
#Calculate Percentage of Students per School who passed Reading
passing_reading_pc = round((school_passing_reading_num['reading_score'] / school_numstudents['student_name'])*100,2)
school_numstudents['Passing Reading Percentage']=passing_reading_pc
school_numstudents

,student_name,Passing Math Percentage,Passing Reading Percentage
school_name,,,
Bailey High School,4976,66.68,81.93
Cabrera High School,1858,94.13,97.04
Figueroa High School,2949,65.99,80.74
Ford High School,2739,68.31,79.30
Griffin High School,1468,93.39,97.14
Hernandez High School,4635,66.75,80.86
Holden High School,427,92.51,96.25
Huang High School,2917,65.68,81.32
Johnson High School,4761,66.06,81.22
Pena High School,962,94.59,95.95
Rodriguez High School,3999,66.37,80.22
Shelton High School,1761,93.87,95.85
Thomas High School,1635,93.27,97.31
Wilson High School,2283,93.87,96.54
Wright High School,1800,93.33,96.61

In [31]:
# Calculate Overall Passing Percentage per school
passing_overall_pc = (school_numstudents['Passing Math Percentage'] + school_numstudents['Passing Reading Percentage'])/2
school_numstudents['Passing Overall Percentage'] = passing_overall_pc
school_numstudents

,student_name,Passing Math Percentage,Passing Reading Percentage,Passing Overall Percentage
school_name,,,,
Bailey High School,4976,66.68,81.93,74.305
Cabrera High School,1858,94.13,97.04,95.585
Figueroa High School,2949,65.99,80.74,73.365
Ford High School,2739,68.31,79.30,73.805
Griffin High School,1468,93.39,97.14,95.265
Hernandez High School,4635,66.75,80.86,73.805
Holden High School,427,92.51,96.25,94.380
Huang High School,2917,65.68,81.32,73.500
Johnson High School,4761,66.06,81.22,73.640
Pena High School,962,94.59,95.95,95.270
Rodriguez High School,3999,66.37,80.22,73.295
Shelton High School,1761,93.87,95.85,94.860
Thomas High School,1635,93.27,97.31,95.290
Wilson High School,2283,93.87,96.54,95.205
Wright High School,1800,93.33,96.61,94.970

In [32]:
# Create new Dataframe for School Summary 
school_summary = pd.DataFrame({"School Type": school_type, "Total Students": school_students,
                                 "Total School Budget": school_budget, "Per Student Budget": school_budget_pp,
                                 "Average Math Score": school_avg_math, "Average Reading Score": school_avg_reading,
                                 "% Passing Math": passing_math_pc, "% Passing Reading": passing_reading_pc, 
                                 "% Passing Overall": passing_overall_pc}) 
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.68,81.93,74.305
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.13,97.04,95.585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.99,80.74,73.365
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.31,79.30,73.805
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.39,97.14,95.265
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.75,80.86,73.805
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.51,96.25,94.380
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.68,81.32,73.500
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.06,81.22,73.640
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59,95.95,95.270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.37,80.22,73.295
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.87,95.85,94.860
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.27,97.31,95.290
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.87,96.54,95.205
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.33,96.61,94.970

In [33]:
#top_five_schools = school_summary_df.sort_values(by=["% Passing Overall"])
school_rankings = school_summary["% Passing Overall"].head(15)
school_rankings.rank(ascending=False)
#top_five_schools.apply(lambda school_summary: school_summary.sort_values(by=["% Passing Overall"]))

school_name
Bailey High School        9.0
Cabrera High School       1.0
Figueroa High School     14.0
Ford High School         10.5
Griffin High School       4.0
Hernandez High School    10.5
Holden High School        8.0
Huang High School        13.0
Johnson High School      12.0
Pena High School          3.0
Rodriguez High School    15.0
Shelton High School       7.0
Thomas High School        2.0
Wilson High School        5.0
Wright High School        6.0
Name: % Passing Overall, dtype: float64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [34]:
# Top 5 schools by % Passing Overall
top_five_schools = school_summary.sort_values(by=["% Passing Overall"], ascending=False)
top_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.13,97.04,95.585
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.27,97.31,95.290
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59,95.95,95.270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.39,97.14,95.265
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.87,96.54,95.205

In [35]:
# Accidentally overwrote the given answer for Top 5 Schools

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [36]:
# Bottom 5 perfomring schools by % Passing Overall 

bottom_five_schools = school_summary.sort_values(by=["% Passing Overall"], ascending=True)
bottom_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.37,80.22,73.295
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.99,80.74,73.365
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.68,81.32,73.500
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.06,81.22,73.640
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.31,79.30,73.805

In [37]:
# Given answer

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [38]:
#Begin with the complete School Data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [39]:
# Locate all Freshman and display Student Names
Freshmen = school_data_complete['student_name'].loc[school_data_complete['grade']=='9th']
Freshmen

0              Paul Bradley
4                Bonnie Ray
5             Bryan Miranda
12          Brittney Walker
13             William Long
16            Donald Zamora
17        Kimberly Santiago
18            Kevin Stevens
19             Brandi Lyons
23       Christopher Parker
25             Cesar Morris
26           Melanie Decker
30             Bobby Harris
39          Gregory Roberts
40            Matthew Mayer
42             John Carlson
43            Megan Roberts
48              Amy Perkins
53                Jon Smith
54             Tracey Yates
57       Madeline Snyder MD
59            Theresa Meyer
60               Jared Wood
61             Eric Maynard
76                 Erin Liu
79       Elizabeth Mckinney
90            Ronald Garcia
92              Ryan Stokes
96            Jessica Smith
104          Michael Savage
                ...
39083         Gloria Wilson
39084        Angela Daniels
39085         Marcus Morgan
39087          Lisa Kennedy
39089      Lindsey Thompson
39090          Lori Dickson
39092        Joseph Burgess
39093          Antonio Kirk
39102        Jennifer White
39103        Carrie Stewart
39105     Dr. Kimberly Page
39107           Stacy Wells
39111           Mary Coffey
39117           Daniel Best
39123        Andrew Merritt
39124           Susan Simon
39127           Robert Wood
39128      Jonathan Mueller
39131        Brian Williams
39132          Shawn Hayden
39135         Laura Webster
39138        Monica Hampton
39139         Catherine Lee
39140    Cheyenne Hernandez
39146       Michael Carroll
39152            Lori Moore
39153       William Hubbard
39157      Kristen Gonzalez
39164        Joseph Anthony
39167        Rebecca Tanner
Name: student_name, Length: 11408, dtype: object

In [40]:
# Locate all Sophomores and display Student Names
Sophomores = school_data_complete['student_name'].loc[school_data_complete['grade']=='10th']
Sophomores

8               Michael Roth
9             Matthew Greene
10          Andrew Alexander
11             Daniel Cooper
14              Tammy Hebert
20                Lisa Davis
21             Kristen Lopez
27            Tracey Oconnor
31           Brian Fernandez
35          Benjamin Carlson
36              Kevin Bailey
37              Jesse Newton
44              Debra Flores
49          Natalie Mitchell
50         Tiffany Gutierrez
66       Mr. Dylan Taylor MD
71            Breanna Taylor
73               Kyle Martin
74            Dr. Scott Gill
75                 Lisa Long
80            Jessica Bailey
84             Joseph Butler
85                Tina Lynch
86              Leah Benitez
87          Elizabeth Parker
88            Melissa Hunter
91               Mark Cherry
93          Isaiah Maldonado
98       Virginia Ramirez MD
99            Marc Hernandez
                ...
39049          Preston Davis
39052         Larry Robinson
39057         Michael Strong
39066      Derrick Alexander
39073            Susan Gates
39074         Jason Lawrence
39079            Sandy Johns
39082        Jennifer Harris
39086           Joanna Allen
39088         Joseph Stewart
39091         Jeremy Edwards
39098            Nancy Silva
39101           Tammy Torres
39114         Gregory Taylor
39119     Katherine Harrison
39121       Stephanie Wilson
39122       Samantha Johnson
39126           Samuel Casey
39129           Diane Miller
39141      Jonathan Sullivan
39142    Deborah Higgins DDS
39145             Audrey Fry
39147        Raymond Hawkins
39148     Christopher Wilson
39151       Shannon Williams
39155            John Brooks
39158          Kari Holloway
39161            April Reyes
39166              Dawn Bell
39168           Desiree Kidd
Name: student_name, Length: 10168, dtype: object

In [41]:
# Locate all Juniors and display Student Names
Juniors = school_data_complete['student_name'].loc[school_data_complete['grade']=='11th']
Juniors

6               Sheena Carter
15          Dr. Jordan Carson
22           Kimberly Stewart
24           Chelsea Griffith
28                Kelly James
32             Candace Phelps
34               Steven Green
41             Jennifer Parks
45              Heidi Jackson
47                Ellen Brown
51              Jennifer Hess
56                Michael Cox
58               Allison King
62                 Mark Owens
63              Ronnie Conley
65               Amy Mitchell
69             Michael Morgan
82              Lindsey Baker
89       Miss Madison Everett
95             Kevin Martinez
97              Dawn Trujillo
102               Gary Morris
105               Alexis Todd
116            Stephanie Ward
121             Bernard Ortiz
124           Bonnie Mckinney
125               Troy Nelson
128         Nathaniel Hampton
129            Michael Travis
139                 Ann Blake
                 ...
39051            Matthew Ball
39054          Sarah Atkinson
39056           Michael James
39059        Brittney Coleman
39062             Jose Newton
39067              Jasmine Li
39069             Joel French
39078             Sara Hughes
39094          Renee Mcdonald
39095            Kelli Barnes
39097           Kathleen Barr
39099           Rachel Murphy
39100        Rhonda Rodriguez
39104            Karen Rogers
39106       Catherine Mendoza
39109         Ernest Lawrence
39110           Sharon Nguyen
39113        Richard Mcdonald
39115               Joseph Ho
39118          Terri Johnston
39120            Megan Carson
39130            Brett Arnold
39143          Steven Jackson
39149         Glenda Fletcher
39150       Jennifer Hamilton
39156     Stephanie Contreras
39159        Kimberly Cabrera
39160            Katie Weaver
39163              John Reese
39169         Carolyn Jackson
Name: student_name, Length: 9695, dtype: object

In [42]:
# Locate all Seniors and display Student Names
Seniors = school_data_complete['student_name'].loc[school_data_complete['grade']=='12th']
Seniors

1               Victor Smith
2            Kevin Rodriguez
3          Dr. Richard Scott
7               Nicole Baker
29              Nicole Brown
33              Amy Gonzalez
38          Kimberly Mercado
46           Denise Bradford
52        Christine Fletcher
55              Jerry Gordon
64            Kimberly Davis
67       Elizabeth Henderson
68               James Lopez
70            Angela Francis
72             Jason Johnson
77           Marcus Richards
78            Jason Thompson
81                 Lisa Frye
83              Lisa Ramirez
94            Micheal Dennis
100            Jose Gonzalez
103         William Mcdonald
107            Steven Mendez
108               Ryan Lynch
113              Michael Roy
114             Richard Ryan
115            Matthew Reyes
118             Daniel Jones
120              Erin Prince
126             Jennifer Lee
                ...
39027          Jaime Holland
39035            Chad Rivera
39036         Amanda Ferrell
39039       Steven Lewis Jr.
39042           Mary Summers
39045           Ronnie Craig
39047         Margaret Perez
39050           Michael Reed
39053          Kyle Gonzalez
39055     William Foster PhD
39058          Kenneth Moore
39064            April Ellis
39065            Caleb Young
39071         Vanessa Wagner
39072         Amanda Ramirez
39077          Jeffery Gomez
39081             Emma Foley
39096     Lucas Williams Jr.
39108          Crystal Smith
39112        Kimberly Pruitt
39116             Anna Smith
39125          Maria Shields
39133            Emily Gomez
39134           Kerri Berger
39136      Elizabeth Aguirre
39137        Victoria Bailey
39144       Cristian Webster
39154        Bradley Johnson
39162            Derek Weeks
39165           Donna Howard
Name: student_name, Length: 7899, dtype: object

In [43]:
# Locate all Freshman and display Student Names
school_gb_grade = school_data_complete.groupby('grade')
school_gb_grade.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
375,375,Erin Hill,F,10th,Huang High School,68,98,0,District,2917,1910635
376,376,Erin Cohen,F,10th,Huang High School,71,74,0,District,2917,1910635
378,378,Elizabeth Simpson,F,10th,Huang High School,97,63,0,District,2917,1910635
379,379,Jennifer Davis,F,11th,Huang High School,96,68,0,District,2917,1910635
382,382,Lawrence Montgomery,M,11th,Huang High School,87,70,0,District,2917,1910635
383,383,Patricia Howard,F,11th,Huang High School,70,65,0,District,2917,1910635
385,385,Donna Dean,F,10th,Huang High School,98,77,0,District,2917,1910635
387,387,Jodi Brown,F,12th,Huang High School,70,85,0,District,2917,1910635
392,392,Jeffrey Eaton,M,10th,Huang High School,99,90,0,District,2917,1910635
396,396,Melinda Nelson,F,12th,Huang High School,75,82,0,District,2917,1910635
398,398,John Bowen,M,12th,Huang High School,77,56,0,District,2917,1910635
399,399,Tracie Abbott,F,12th,Huang High School,72,69,0,District,2917,1910635
401,401,Kathryn Elliott,F,12th,Huang High School,63,91,0,District,2917,1910635
402,402,Christopher Walker,M,12th,Huang High School,94,66,0,District,2917,1910635
413,413,Jonathan Marshall,M,12th,Huang High School,86,72,0,District,2917,1910635
423,423,Theresa Andrews,F,12th,Huang High School,65,58,0,District,2917,1910635
426,426,Travis Frazier,M,12th,Huang High School,75,68,0,District,2917,1910635
427,427,Julie Jones,F,12th,Huang High School,74,68,0,District,2917,1910635
430,430,Jason Robinson,M,12th,Huang High School,69,95,0,District,2917,1910635
433,433,Scott Glover,M,12th,Huang High School,65,92,0,District,2917,1910635
434,434,Jacqueline White,F,12th,Huang High School,68,67,0,District,2917,1910635
441,441,James Ho,M,12th,Huang High School,86,61,0,District,2917,1910635
444,444,Dawn Rhodes,F,12th,Huang High School,67,66,0,District,2917,1910635
457,457,Stephanie Hart,F,12th,Huang High School,94,63,0,District,2917,1910635
460,460,Amy Steele,F,12th,Huang High School,67,63,0,District,2917,1910635
463,463,Kevin Coleman,M,12th,Huang High School,88,77,0,District,2917,1910635
468,468,Francis Wright,M,12th,Huang High School,63,92,0,District,2917,1910635
488,488,Kevin Montgomery,M,12th,Huang High School,67,81,0,District,2917,1910635
495,495,Michael Brown,M,12th,Huang High School,99,71,0,District,2917,1910635
507,507,Kristen Wilson,F,12th,Huang High School,72,89,0,District,2917,1910635

In [44]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [45]:
# Can't figure out how to run this part
students_bygrade = school_data_complete.groupby(['grade'], as_index=False)
students_bygrade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [47]:
School_spending_df = school_summary
School_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.68,81.93,74.305
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.13,97.04,95.585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.99,80.74,73.365
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.31,79.30,73.805
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.39,97.14,95.265
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.75,80.86,73.805
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.51,96.25,94.380
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.68,81.32,73.500
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.06,81.22,73.640
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59,95.95,95.270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.37,80.22,73.295
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.87,95.85,94.860
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.27,97.31,95.290
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.87,96.54,95.205
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.33,96.61,94.970

In [48]:
School_spending_df = School_spending_df.drop(columns = ['Total Students', 'Total School Budget', 'Per Student Budget'])
School_spending_df

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,
Bailey High School,District,77.048432,81.033963,66.68,81.93,74.305
Cabrera High School,Charter,83.061895,83.975780,94.13,97.04,95.585
Figueroa High School,District,76.711767,81.158020,65.99,80.74,73.365
Ford High School,District,77.102592,80.746258,68.31,79.30,73.805
Griffin High School,Charter,83.351499,83.816757,93.39,97.14,95.265
Hernandez High School,District,77.289752,80.934412,66.75,80.86,73.805
Holden High School,Charter,83.803279,83.814988,92.51,96.25,94.380
Huang High School,District,76.629414,81.182722,65.68,81.32,73.500
Johnson High School,District,77.072464,80.966394,66.06,81.22,73.640
Pena High School,Charter,83.839917,84.044699,94.59,95.95,95.270
Rodriguez High School,District,76.842711,80.744686,66.37,80.22,73.295
Shelton High School,Charter,83.359455,83.725724,93.87,95.85,94.860
Thomas High School,Charter,83.418349,83.848930,93.27,97.31,95.290
Wilson High School,Charter,83.274201,83.989488,93.87,96.54,95.205
Wright High School,Charter,83.682222,83.955000,93.33,96.61,94.970

In [49]:
School_spending_df['School Spending'] = pd.cut(school_summary['Per Student Budget'], 4, labels=group_names)
School_spending_df

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,School Spending
school_name,,,,,,,
Bailey High School,District,77.048432,81.033963,66.68,81.93,74.305,$615-645
Cabrera High School,Charter,83.061895,83.975780,94.13,97.04,95.585,<$585
Figueroa High School,District,76.711767,81.158020,65.99,80.74,73.365,$645-675
Ford High School,District,77.102592,80.746258,68.31,79.30,73.805,$645-675
Griffin High School,Charter,83.351499,83.816757,93.39,97.14,95.265,$615-645
Hernandez High School,District,77.289752,80.934412,66.75,80.86,73.805,$645-675
Holden High School,Charter,83.803279,83.814988,92.51,96.25,94.380,<$585
Huang High School,District,76.629414,81.182722,65.68,81.32,73.500,$645-675
Johnson High School,District,77.072464,80.966394,66.06,81.22,73.640,$645-675
Pena High School,Charter,83.839917,84.044699,94.59,95.95,95.270,$585-615
Rodriguez High School,District,76.842711,80.744686,66.37,80.22,73.295,$645-675
Shelton High School,Charter,83.359455,83.725724,93.87,95.85,94.860,$585-615
Thomas High School,Charter,83.418349,83.848930,93.27,97.31,95.290,$645-675
Wilson High School,Charter,83.274201,83.989488,93.87,96.54,95.205,<$585
Wright High School,Charter,83.682222,83.955000,93.33,96.61,94.970,<$585

## Scores by School Size

* Perform the same operations as above, based on school size.

In [50]:
# Sample bins. Feel free to create your own bins.
size_bins2 = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [51]:
School_spending_df['School Size'] = pd.cut(school_summary['Total Students'], 3, labels=group_names2)
School_spending_df

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,School Spending,School Size
school_name,,,,,,,,
Bailey High School,District,77.048432,81.033963,66.68,81.93,74.305,$615-645,Large (2000-5000)
Cabrera High School,Charter,83.061895,83.975780,94.13,97.04,95.585,<$585,Small (<1000)
Figueroa High School,District,76.711767,81.158020,65.99,80.74,73.365,$645-675,Medium (1000-2000)
Ford High School,District,77.102592,80.746258,68.31,79.30,73.805,$645-675,Medium (1000-2000)
Griffin High School,Charter,83.351499,83.816757,93.39,97.14,95.265,$615-645,Small (<1000)
Hernandez High School,District,77.289752,80.934412,66.75,80.86,73.805,$645-675,Large (2000-5000)
Holden High School,Charter,83.803279,83.814988,92.51,96.25,94.380,<$585,Small (<1000)
Huang High School,District,76.629414,81.182722,65.68,81.32,73.500,$645-675,Medium (1000-2000)
Johnson High School,District,77.072464,80.966394,66.06,81.22,73.640,$645-675,Large (2000-5000)
Pena High School,Charter,83.839917,84.044699,94.59,95.95,95.270,$585-615,Small (<1000)
Rodriguez High School,District,76.842711,80.744686,66.37,80.22,73.295,$645-675,Large (2000-5000)
Shelton High School,Charter,83.359455,83.725724,93.87,95.85,94.860,$585-615,Small (<1000)
Thomas High School,Charter,83.418349,83.848930,93.27,97.31,95.290,$645-675,Small (<1000)
Wilson High School,Charter,83.274201,83.989488,93.87,96.54,95.205,<$585,Medium (1000-2000)
Wright High School,Charter,83.682222,83.955000,93.33,96.61,94.970,<$585,Small (<1000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [52]:
#pd.cut(School_spending_df['School Type'], 1, labels=['District', 'Charter'])